@import "./base/_reset";
@import "./base/_typography";
@import "./abstracts/_variables";
@tailwind base;
@tailwind components;
@tailwind utilities;

#root,
body,
html {
  @apply w-full h-full;
}

#root {
  display: flex;
  flex-direction: column;
}

/* header */
.header {
  @apply bg-primary;
  @apply text-white;
  @apply flex flex-none;

  &-con {
    @apply mx-auto py-3 px-4;
    @apply w-full max-w-screen-2xl;
    @apply flex flex-none items-center justify-between;
  }

  &-logo {
    @apply cursor-pointer;
    @apply text-2xl font-bold;
    @apply flex items-center gap-2;
    &>span{
      @apply hidden sm:inline-block;
    }
  }

  &-group {
    @apply flex gap-2;

    & > button {
      @apply p-1.5;
      @apply rounded-md;
      @apply duration-300;
      @apply border border-white/50;

      &:hover {
        @apply bg-white;
        @apply text-primary;
      }
    }

    select {
      @apply min-w-[150px];
      @apply rounded-md;
      @apply outline-none;
      @apply px-0.5 py-1.5;
      @apply bg-transparent;
      @apply text-sm capitalize;
      @apply border border-white/50;

      option {
        @apply bg-black;
      }
    }
  }

  &-toggle {
    @apply lg:hidden;

    &.active {
      @apply bg-white;
      @apply text-primary;
    }
  }
}

/* main */
.main {
  @apply w-full h-full;
  @apply relative;
  @apply mx-auto;
  @apply flex flex-1;
  @apply overflow-hidden;
  @apply max-w-screen-2xl;
}

/* nav */
.nav {
  @apply p-4;
  @apply z-[99];
  @apply duration-300;
  @apply bg-background;
  @apply w-[240px] h-full;
  @apply absolute left-[-240px];
  @apply border-r border-solid border-border;
  @apply lg:static;
  transition: 0.3s left;

  &.active {
    @apply left-0;
  }

  &-sub-list {
    @apply text-gray-700 dark:text-gray-300;

    &__item {
      @apply mt-1;
      @apply rounded-sm;
      @apply capitalize;

      & > a {
        @apply flex items-center gap-1.5;
        & > svg {
          @apply bg-gray-500 text-white rounded-sm p-0.5;
        }
      }

      &:hover,
      &.active {
        @apply text-primary;
        & > a > svg {
          @apply bg-primary;
        }
      }
    }
  }
}

/* content section */
.section {
  @apply p-4;
  @apply flex-1;
  @apply overflow-auto;
}

/* chart layout */
.chart-layout {
  @apply gap-4;
  @apply grid grid-cols-12;

  &-box {
    @apply relative;
    @apply col-span-12;
    @apply overflow-hidden;
  }

  &-title {
    @apply mb-2;
    @apply text-sm font-bold;
  }
}

.chart-title {
  @apply mb-4;
  @apply text-xl font-bold;
  @apply flex items-center gap-2;
}

.chart-con {
  @apply rounded-md;
  @apply bg-card p-4;
  @apply overflow-auto;

  & > div {
    @apply min-w-[360px];
  }
}

// intro
.section:has(.intro) {
  @apply p-0;
}
.intro {
  @apply flex items-start;
  @apply text-sm lg:text-base break-keep;
  @apply text-gray-700 dark:text-gray-300;

  &-content {
    @apply p-4;
    @apply flex-none;
    @apply w-full lg:w-[calc(100%-200px)] max-w-[1020px];
  }

  &-guide {
    @apply p-4;
    @apply flex-1;
    @apply sticky top-0;
    @apply lg:inline-flex flex-col items-start hidden;

    &-title {
      @apply text-lg font-bold;
      @apply text-gray-950 dark:text-gray-100;
    }

    button {
      @apply px-2 py-0.5;
      @apply capitalize text-sm;
      @apply border-l border-border;
      &:hover {
        @apply text-primary;
      }
    }
  }

  &-title {
    @apply flex items-center gap-2;
    @apply text-2xl font-semibold mb-4;
    @apply text-gray-950 dark:text-gray-100;

    .btn {
      @apply p-1;
      @apply rounded;
      @apply bg-primary;
      @apply text-white;
      @apply inline-block;

      &:hover {
        @apply brightness-110;
      }
    }
  }

  &-article {
    @apply mt-10;
  }

  &-subtitle {
    @apply text-gray-900 dark:text-gray-200;
    @apply text-lg font-semibold mb-2 border-b border-solid border-border;
  }

  strong {
    @apply text-primary;
  }

  .cm-theme {
    @apply my-3;
    @apply rounded-sm;
    @apply overflow-hidden;
    @apply border border-solid border-border;
  }

  .cm-content {
    @apply text-sm;
  }

  .cm-activeLine,
  .cm-activeLineGutter {
    @apply bg-transparent;
  }
}
