@import "./base/_reset";
@import "./base/_typography";
@import "./abstracts/_variables";
@tailwind base;
@tailwind components;
@tailwind utilities;

#root,
body,
html {
  @apply w-full h-full;
}

#root {
  display: flex;
  flex-direction: column;
}

/* header */
.header {
  @apply py-3 px-4;
  @apply bg-primary;
  @apply text-white;
  @apply flex flex-none items-center justify-between;

  &-logo {
    @apply cursor-pointer;
    @apply text-2xl font-bold;
  }

  &-group {
    @apply flex gap-2;

    & > button {
      @apply p-1.5;
      @apply rounded-md;
      @apply duration-300;
      @apply border border-white;

      &:hover {
        @apply bg-white;
        @apply text-primary;
      }
    }

    select {
      @apply rounded-sm;
      @apply outline-none;
      @apply px-0.5 py-1.5;
      @apply bg-transparent;
      @apply text-sm capitalize;
      @apply border border-white;

      option {
        @apply bg-black;
      }
    }
  }

  &-toggle {
    @apply lg:hidden;

    &.active {
      @apply bg-white;
      @apply text-primary;
    }
  }
}

/* main */
.main {
  @apply h-full;
  @apply relative;
  @apply flex flex-1;
  @apply overflow-hidden;
}

/* nav */
.nav {
  @apply p-4;
  @apply z-[99];
  @apply duration-300;
  @apply bg-background;
  @apply w-[240px] h-full;
  @apply absolute left-[-240px];
  @apply border-r border-solid border-border;
  @apply lg:static;
  transition: 0.3s left;

  &.active {
    @apply left-0;
  }

  &-list {
    &__title {
      @apply text-lg font-semibold uppercase;
    }
  }

  &-sub-list {
    @apply pl-1 ml-2;
    @apply border-l border-border border-solid;

    &__item {
      @apply px-2 mt-1;
      @apply rounded-sm;
      @apply capitalize;

      &:hover,
      &.active {
        @apply text-primary;
      }
    }
  }
}

// maxw 설정?
/* content section */
.section {
  @apply p-4;
  @apply flex-1;
  @apply overflow-auto;
}

/* chart layout */
.chart-layout {
  @apply gap-4;
  @apply grid grid-cols-12;

  &-box {
    @apply relative;
    @apply col-span-12;
    @apply overflow-hidden;
    @media (min-width: 1920px) {
      @apply col-span-6;
      @apply flex flex-col;
    }
  }

  &-title {
    @apply mb-2;
    @apply text-sm font-bold;
  }
}

.chart-title {
  @apply mb-4;
  @apply text-xl font-bold;
}

.chart-con {
  @apply rounded-md;
  @apply bg-card p-4;
  @apply overflow-auto;
  @media (min-width: 1920px) {
    @apply flex-auto;
  }

  & > div {
    @apply min-w-[360px];
  }
}

// intro
.intro {
  @apply text-base;

  &-title {
    @apply text-2xl font-semibold mb-4;
  }

  &-article {
    @apply mt-8;
  }

  &-subtitle {
    @apply text-lg font-semibold mb-2 border-b border-solid border-border;
  }

  .cm-theme+p{
    @apply mt-8;
  }

  .cm-content {
    @apply leading-6;
  }
}
