@import "./base/_reset";
@import "./base/_typography";
@import "./abstracts/_variables";
@tailwind base;
@tailwind components;
@tailwind utilities;

#root,
body,
html {
  @apply w-full h-full;
}

#root {
  display: flex;
  flex-direction: column;
}

* {
  &::-webkit-scrollbar {
    @apply w-3 h-2;
    &-track {
      @apply bg-border;
    }
    &-thumb {
      @apply cursor-grab;
      @apply rounded-lg;
      @apply bg-primary;
    }
  }
}

/* header */
.header {
  @apply bg-background;
  @apply text-foreground;
  @apply flex flex-none;
  @apply border-b border-solid border-border;

  &-con {
    @apply mx-auto py-3 px-4;
    @apply w-full max-w-screen-2xl;
    @apply flex flex-none items-center justify-between;
  }

  &-logo {
    @apply cursor-pointer;
    @apply text-2xl font-bold;
    @apply flex items-center gap-2;
    & > span {
      @apply hidden sm:inline-block;
    }
  }

  &-group {
    @apply flex gap-2;

    & > button,
    & > a {
      @apply p-1.5;
      @apply rounded-md;
      @apply duration-300;
      @apply content-center;
      @apply border border-solid border-border;

      &:hover {
        @apply bg-foreground;
        @apply text-background;
        @apply border-foreground;
      }
    }

    select {
      @apply border;
      @apply rounded-md;
      @apply outline-none;
      @apply min-w-[150px];
      @apply px-0.5 py-1.5;
      @apply bg-transparent;
      @apply text-sm capitalize;

      option {
        @apply bg-background;
      }
    }
  }

  &-toggle {
    @apply lg:hidden;

    &.active {
      @apply bg-foreground;
      @apply text-background;
    }
  }
}

/* main */
.main {
  @apply w-full h-full;
  @apply relative;
  @apply mx-auto;
  @apply flex flex-1;
  @apply overflow-hidden;
  @apply max-w-screen-2xl;
}

/* nav */
.nav {
  @apply p-4;
  @apply z-[99];
  @apply duration-300;
  @apply bg-background;
  @apply w-[240px] h-full;
  @apply absolute left-[-240px];
  @apply lg:static;
  @apply border-r border-solid border-border;
  transition: 0.3s left;

  &.active {
    @apply left-0;
  }

  &-sub-list {
    @apply text-gray-500 dark:text-gray-400;

    &__item {
      @apply mt-1;
      @apply rounded-sm;
      @apply capitalize;

      & > a {
        @apply flex items-center gap-1.5;
        & > svg {
          @apply bg-gray-400 dark:bg-gray-600 text-white rounded-sm p-0.5;
        }
      }

      &:hover,
      &.active {
        @apply text-foreground;
        & > a > svg {
          @apply bg-foreground text-background;
        }
      }
    }
  }
}

/* content section */
.section {
  @apply flex-1;
  @apply pb-8 lg:mr-4;
  @apply overflow-auto;
}

/* chart layout */
.chart-layout {
  @apply w-full;
  @apply gap-4 p-4;
  @apply grid grid-cols-12;

  &-box {
    @apply relative;
    @apply col-span-12;
    @apply overflow-y-hidden;
  }

  &-title {
    @apply mb-2;
    @apply capitalize;
    @apply font-bold;
  }
}

.chart-title {
  @apply mb-2;
  @apply text-xl font-bold;
  @apply flex items-center gap-2;
  @apply col-span-12;
}

.chart-area {
  @apply flex items-start;
}

.chart-con {
  @apply rounded-md;
  @apply bg-card p-4;
  @apply border border-solid border-border;
  @apply overflow-auto sm:overflow-hidden;
  @apply rounded-b-none border-b-0;

  & > div {
    @apply min-w-[360px];
  }
}

// intro
.intro {
  @apply flex items-start;
  @apply text-sm lg:text-base break-keep;
  @apply text-gray-700 dark:text-gray-300;

  &-content {
    @apply p-4;
    @apply w-full overflow-hidden;
  }

  &-guide {
    @apply p-4;
    @apply flex-1;
    @apply flex-none w-[220px];
    @apply sticky top-0;
    @apply xl:inline-flex flex-col items-start hidden;

    &-title {
      @apply mb-2;
      @apply text-lg font-bold;
      @apply text-gray-950 dark:text-gray-100;
    }

    button {
      @apply pl-4 pr-1 py-0.5;
      @apply border-l-2 border-border;
      @apply capitalize text-sm text-left;
      @apply text-gray-500 dark:text-gray-400;

      &:hover,
      &.active {
        @apply text-foreground;
        @apply border-foreground;
      }
    }
  }

  &-title {
    @apply flex items-center gap-2;
    @apply text-lg sm:text-xl font-semibold mb-2 sm:mb-4;
    @apply text-gray-950 dark:text-gray-100;

    .btn {
      @apply p-1;
      @apply rounded;
      @apply bg-primary;
      @apply text-background;
      @apply inline-block;

      &:hover {
        @apply brightness-110;
      }
    }
  }

  &-article {
    @apply mt-8 sm:mt-10;
  }

  &-subtitle {
    @apply text-gray-900 dark:text-gray-200;
    @apply text-base sm:text-lg font-semibold mb-2 border-b border-solid border-border;
  }

  strong {
    @apply text-primary;
  }
}

.hljs-box {
  @apply my-3;
  @apply text-sm;
  @apply relative;
  @apply rounded-sm;
  @apply overflow-hidden;
  @apply border border-solid  border-border;

  pre code.hljs {
    @apply p-3;
    @apply text-xs;
    @apply max-h-[320px];

    &::-webkit-scrollbar {
      @apply w-2;
    }
  }

  &-tool {
    @apply px-2;
    @apply w-full h-8;
    @apply text-right leading-[0];
    @apply flex justify-between items-center;
    @apply border-b border-solid border-border;
  }

  button {
    @apply p-1;
    @apply rounded-sm;
    @apply text-white;
    @apply bg-black/40 dark:bg-white/40;
  }
}

.chart-codeblock {
  .hljs-box {
    @apply mt-0;
    @apply rounded-md rounded-t-none;

    pre code.hljs {
      @apply max-h-[240px];
    }
  }
}
