/* @layer */
@layer base {
  :root {
    // base color
    --background: #fff;
    --foreground: #222;
    --card: #f4f4f4;
    --border: #EEE;
    --ring: #ddd;
    // add Color
    --primary: #000;
    --secondary: #0077b0;
    --normal: #1ddb16;
    --critical: #ff0000;
    --major: #ffbb00;
    --minor: #ffe400;
    --warning: #00d8ff;
    // size
    --radius: 0.5rem;
  }

  .dark {
    // base color
    --primary: #fff;
    --background: #222;
    --foreground: #eee;
    --card: #333;
    --border: #3A3A3A;
    --ring: #444;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    @apply md:text-base text-sm;
  }
}
